.title {
  opacity: 1;
}

.title-appear {
  transform: translateX(-100%);
}

.title-appear-active {
  transform: translateX(0);
  transition: all 1000ms linear;
}
.alert-enter {
  transform: translateY(-300%);
}
.alert-enter-active {
  transform: translateY(0);
  transition: transform 500ms linear 1000ms;
}
.alert-exit {
  transform: translateY(0);
}
.alert-exit-active {
  transform: translateY(-300%);
  transition: transform 500ms linear 1000ms;
}
.alert {
  position: absolute;
  display: flex;
  width: 400px;
  height: 50px;
  background-color: rgb(245, 86, 86);
  text-align: center;
  align-items: center;
  color: aliceblue;
  justify-content: center;
  font-size: 18px;
  padding: 10px;
}
